.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 3rem 2rem 0 6rem;
}

.header {
  display: flex;
  flex-direction: row;
  background-color: black;
  justify-content: space-between;
}

.headerChild {
  display: flex;
  margin: 1rem 1rem;
  color: white;
}

.headerChild a{
  color: white;
  text-decoration: none;
}

.backToHome {
  margin: 3rem 0 0;
}

.pageBtn {
  padding: auto;
  color: black;
  margin: 0rem 0.7rem;
}

.isDisableBtn {
  color: grey;
  margin: 0rem 0.7rem;
}

.currentPage {
  font-weight: bolder;
  color: black;
  margin: 0rem 0.7rem;
}